
<html lang="ja">
<meta charset ="utf-8">

<body>
    <h1><a href = "{{constant('ECweb\\Bootstrap::ENTRY_URL_SHOP')}}item_list.php"><img src="logo.jpg" alt="logo画像"></a></h1>

    <nav id="groval_navi">
      <ul>
        <li><a href="{{constant('ECweb\\Bootstrap::ENTRY_URL_SHOP')}}inquiry_form.php">お問い合わせ</a></li><li><a href="{{constant('ECweb\\Bootstrap::ENTRY_URL_SHOP')}}cart.php">カート</a></li><li><a href="{{constant('ECweb\\Bootstrap::ENTRY_URL_SHOP')}}item_list.php">TOPページ</a></li>
      </ul>
    </nav>
